.interaction-list-table {
  text-align: center;
}

.interaction-list-table tbody tr:hover {
  background-color: #2C2A2D;
}

.interaction-list-table tbody tr:active {
    background-color: rgba(213, 109, 251, .5);
}