.vis-point {
  border: 0;
}

.vis-item-content {
  display: none;
}

.vis-dot {
  height: 6em;
  transform: none;
  top: -64px !important;
  border-radius: 2px !important;
  border-width: 2px !important;
  border-color: #5839b5;
}

.vis-selected {
  border-color: #8c77cd !important;
}